.formLogin_container {
  display: flex;
  flex-direction: column;
  justify-content: center;

  .formLogin_body {
    background-color: #e1e1e1;
    border-radius: 15px;
    color: #293241;
    box-shadow: 1px 0px 15px 0px rgba(0, 0, 0, 0.44);
    -webkit-box-shadow: 1px 0px 15px 0px rgba(0, 0, 0, 0.44);
    -moz-box-shadow: 1px 0px 15px 0px rgba(0, 0, 0, 0.44);
    margin: auto;
    padding: 40px 0;

    h1 {
      font-size: 1.5rem;
      text-align: center;
      padding: 30px 0;
    }

    form {
      display: flex;
      flex-direction: column;
      .m-3 {
        i.bi-person{
          position: absolute;
          font-size: 20px;
          padding: 4px 10px;
          color: #293241;
        }
        i.bi-lock{
          position: absolute;
          font-size: 20px;
          padding: 4px 10px;
          color: #293241;
        }
        
        i.bi-eye-slash{
          position: absolute;
          font-size: 20px;
          margin: -33px  0 0 310px ;
          color: #293241;
        }
        i.bi-eye{
          position: absolute;
          font-size: 20px;
          margin: -33px  0 0 310px ;
          color: #293241;
        }
        .form-control {
          padding: 6px 35px;
        }
    
        a {
          margin: 0 15px;
          text-decoration: none;
          color: var(--secondary);
          font-weight: bold;
          font-style: italic;
        }
      }
      .m-3.form-check{
        flex-wrap: wrap !important;
        
        label{
            margin: 0 5px;
            font-size: 1em;
        }
        .form-check-input{
          
            margin: 4px 0 4px -24px;
        }
      }
      #submitButton {
        width: fit-content;
        margin: auto;
        border: none;
        padding: 10px 40px;
        margin: 30px auto;
        &:hover{
            transform: scale(1.05);
            transition: 100ms;
            text-decoration: none !important;
        }
      }
    }
  }

  .newUser {
    text-align: center;
    margin-top: 20px;
    color: #fff;
    font-style: italic;
    font-weight: 300;
    a {
      text-decoration: none;
      color: var(--secondary);
      font-weight: bold;
      text-shadow: 3px 4px 6px rgba(0, 0, 0, 0.5);
      &:hover {
        transform: scale(1.02) !important;
        transition: 50ms !important;
      }
    }
  }
}
a:hover {
  text-decoration: underline !important;
}
