.header_container{
    height: 10%;
    width: 100% !important;
    background-color: var(--primary);
    color: #fff;
    display: flex;
    flex-direction: row;
    padding: 20px 30px;
    .logo_header{
        display: flex;
        width: 50%;
        height: 100%;
        align-items: center;
        img{
            width: 50px;
            margin-right: 25px;
        }
        p{
            font-size: 2.2rem;
            font-family: "Righteous", sans-serif;
            margin: 0;
        }
    }
    .menu_header{
        
    }
   
}